In [2]:
import pandas as pd

In [10]:
arq = './basedb/resultado-00000-of-00001.csv'
df = pd.read_csv(arq, delimiter=';')

In [12]:
df.head()

   UF  YEAR  MONTH  RAINFALL  DENGUE
0  CE  2015     11     718.0    11.8
1  CE  2015     12     566.0   282.2
2  CE  2019     12     537.0   345.4
3  CE  2015      9     950.0    66.6
4  CE  2015      6    9605.0   577.8

In [14]:
df.groupby(['UF', 'YEAR'])[['RAINFALL', 'DENGUE']].mean().reset_index()

    UF  YEAR      RAINFALL       DENGUE
0   CE  2015   5014.250000   771.783333
1   CE  2016   5433.083333   533.700000
2   CE  2017   5519.666667   775.350000
3   CE  2018   1070.083333   797.950000
4   CE  2019   2559.250000   809.000000
5   ES  2015   3734.000000   575.650000
6   ES  2016   4560.750000   733.916667
7   ES  2017   1028.666667   903.883333
8   ES  2018   1407.500000  1399.166667
9   ES  2019   6716.083333  1122.350000
10  MG  2015   1815.083333  4450.616667
11  MG  2016   6530.500000  5683.166667
12  MG  2017    290.333333  4960.900000
13  MG  2018    127.000000  6893.000000
14  MG  2019   2234.583333  5649.400000
15  PR  2015   8077.416667  2987.816667
16  PR  2016  17536.333333  2751.066667
17  PR  2017   2324.416667  3438.383333
18  PR  2018   1589.166667  2706.800000
19  PR  2019   9431.916667  2758.900000
20  RJ  2015   5989.916667  1436.566667
21  RJ  2016   6922.750000  2153.850000
22  RJ  2017   1071.083333  1979.583333
23  RJ  2018   1509.083333  2975.133333
24  RJ  2019   2388.833333  3298.983333
25  RS  2015     60.833333  5655.183333
26  RS  2016      1.500000  4823.083333
27  RS  2017     21.916667  6137.083333
28  RS  2018      0.583333  5610.366667
29  RS  2019    112.916667  5801.616667
30  SP  2015   3232.916667  3877.283333
31  SP  2016   2368.583333  3378.183333
32  SP  2017    311.500000  4127.866667
33  SP  2018    437.000000  4131.783333
34  SP  2019   6702.250000  4206.300000